*{
	/*outline: black solid 1px;*/
	margin:  0px;
}
body{
	background-color: #2b5b84;
	font-family: "Fira Sans", "Source Sans Pro", Helvetica, Arial, sans-serif;
	width:  970px;
}

.header{
	display: inline-block;
	margin:  20px;
	margin-bottom: 0px;
}

.header img{
	display: inline;
	padding-right:  254px;
	vertical-align: top;
}

.header input, div, p{
	display: inline;
	margin-top: 30px;
}

.donate{
	background-color: #FFD700;
	border-radius: 5px;
	border-style: none;
	font-size:  12px;
	margin-right: 5px;
	padding: 5px 8px;
}

.search{
	background-color: #202A44;
	border-radius: 5px;
	color: #7393B3;
	font-size:  12px;
	height:  100px;
	padding: 20px 10px;
	width: 100px;
}

.search input{
	height: 30px;
	margin: 5px;
}

.go{
	background-color: #6F8FAF;
	border-radius: 3px;
	color: white;
}

.search p{
	border-left: 1px solid black;
	padding-left: 10px;
}

.nav-bar{
	background-color: #6F8FAF;
	border-radius: 5px;
	color: white;
	display: inline-block;
	margin: 2px 20px;
	min-width: 910px;
	padding: 10px;
}

.nav-bar ul li{
	display: inline;
	padding: 0px 20px;
}

.content{
	margin: 0px 20px;
	padding-left: 50px;
}

.caption{
	display: inline-block;
	max-width: 600px;
	vertical-align: top;
}

.main-caption{
	margin: 0px 3px 0px 0px;
}

.main-caption h2{
	color: #FFC000;
	display: block;
	margin:  5px;
}
				
.sub-caption p{
	color: white;
	display: block;
	font-size: 12px;
	margin:  8px 0px;
}

.content img{
	display: inline-block;
	margin-left: 35px;
	margin-bottom:  0px;
	height: 300px;
}

.sub-content{
	background-color: white;
	display: inline-block;
	margin: 0px;
	min-height: 250px;
	min-width: 970px;
}

.news{
	display: inline-block;
	margin: 20px 10px 10px 20px;
	vertical-align: top;
}

.title{
	border-top: 3px solid #6F8FAF;
	padding-top: 10px;
}

.title h3{
	color: gray;
	display: inline;
	font-weight: normal;
	margin-right: 290px;
}

.title h6{
	color: gray;
	display: inline;
	font-weight: normal;
}

.news ul{
	border-top: 1px solid black;
	color: gray;
	display:  block;
	font-size: 12px;
	list-style: none;
	margin-top: 10px;
	margin-bottom: 10px;
	padding-left:  0px;
	padding-top:  10px;
}

.news ul li{
	display:  inline;
	padding-right: 20px;
}

.news ul li a{
	text-decoration: none;
}

.use{
	display: inline-block;
	margin: 20px 10px 20px 10px;
}

.title{
	border-top: 3px solid #6F8FAF;
	padding-top: 10px;
}

.title h3{
	color: gray;
	display: inline;
	font-weight: normal;
	margin-right: 250px;
}

.title h6{
	color: gray;
	display: inline;
	font-weight: normal;
}

.use ul{
	border-top: 1px solid black;
	display:  block;
	font-size: 12px;
	list-style: none;
	margin-top: 10px;
	padding-left:  0px;
}

.use ul li{
	display:  inline-block;
	font-weight: bold;
	padding-right: 5px;
}

.type{
	display:  inline;
}

.type ul{
	border-top: 0px solid black;
}

.type ul li{
	background-color: #D3D3D3;
	color: gray;
	font-weight: normal;
	padding-right: 5px;
}

.footer{
	color:  #ADD8E6;
	max-height: 250px;
	max-width: 970px;
}

.links ul{
	margin: 30px 0px 20px 0px;
	text-align: center;
}

.links ul li{
	display:  inline;
	margin: 10px;
}

.sub-links ul{
	font-size: 10px;
	margin: 10px 0px 30px 0px;
	text-align: center;
}

.sub-links ul li{
	display:  inline;
	margin: 10px 2px;
}


