body {

	padding: 10px;
	
}

h1 {
	text-align: center;
}

p {
	font-size: 12px;
	text-align: center;
}

span {
	font-weight: bold;
}

.center {
	text-align: center;
}

img {
	height: 90px;
	margin: 5px;
}