*{
	/*outline: black solid 1px;*/	
	margin:  0px;
}

body{
	background-color: #2F4F4F;
	font-family: "Fira Sans", "Source Sans Pro", Helvetica, Arial, sans-serif;
	width:  970px;
}

.header{
	background-color: #7393B3;
	padding:  10px;
}

.nav-bar{
	color:  white;
	display: inline-block;
	font-size: 12px;
	min-width: 500px;
	padding-left: 20px;
	padding-top: 5px;
	vertical-align: top;
}

.nav-bar img{
	display: inline;
	padding-left: 10px;
	width: 40px;
	vertical-align: top;
}

.nav-bar ul{
	display: inline;
	list-style: none;
	padding-left: 20px;
}

.nav-bar li{
	display: inline;
	list-style: none;
	margin: 5px;
}

.search-bar{
	display:  inline-block;
	padding-left: 100px;
}

#search{
	font-size: 10px;
	height: 15px;
	padding: 5px;
	width: 300px;
}

.links{
	color: #ADD8E6;
	font-size: 10px;
	margin:  10px 0px;
}

.left-links{
	display: inline-block;
}

.left-links li{
	display: inline;
	list-style: none;
	padding-right: 5px;
}

.right-links{
	display: inline-block;
	padding-left: 500px;
}

.right-links li{
	display: inline;
	list-style: none;
	padding-right: 30px;
}

.content{
	min-height: 430px;
	vertical-align: top;
}

.main-content{
	background-color: #e8e4c9;
	display: inline-block;
	max-width: 630px;
	margin-left: 25px;
	min-height: 430px;
	padding:  15px;
	vertical-align: top;
}

.language{ 
	display:  inline-block;
	padding-left: 400px;
}

.language p{ 
	display:  inline;
	font-size: 12px;
}

.language select{
	font-size: 10px;
	display:  inline;
	width: 120px;
}

.report{ 
	font-size: 10px;
	padding-left: 445px;
	margin: 10px 0px;
}

.report a{ 
	padding-left: 10px;
	text-decoration: none;
}

.line{ 
	border-top: 1px solid black;
	width: 620px;
}

.main-content h2{
	margin-bottom: 5px;
}

.main-content h3{
	margin-bottom: 5px;
	margin-top: 20px;
}

.main-content ul{
	font-size: 12px;
	margin: 20px 0px; 
}

.main-content ul li{
	margin: 3px 0px; 
}

.main-content p{
	font-size: 12px;
	margin: 20px 0px; 
}

.notes{
	margin-bottom: 5px;
}

.notes h4{
	display: inline;
}

.notes a{
	display: inline;
	font-size: 10px;
	padding-left: 370px;
	text-decoration: underline;
}

.notes a img{					
	padding-right: 5px;
	width: 10px;
}

.side-bar{
	color: #ADD8E6;
	display: inline-block;
	padding: 10px;
	vertical-align: top;
}

.side-bar h3{
	margin-bottom: 10px;
}

.side-bar div{
	border-top: 1px solid black;
 	width: 250px;
}

.side-bar a{
	color: #ADD8E6;
	font-size:  10px;
	text-decoration:  none;
}
	
.footer{
	font-size:  12px;
	margin:  10px;
	padding-top:  50px;
}

.footer ul li{
	display:  inline;
	padding-right:  15px;
}

.footer ul li a{
	color: #ADD8E6;
	text-decoration: none;
}





