/*CSS reset settings here*/
*{
    margin: 0px;
    padding: 0px;
    font-family: sans-serif;
}
#website{
    margin: 0px auto;
    width: 1400px;  
}
#nav-bar{
    min-height: 800px;
    width: 200px;
    background-color: #dfe0e2;
    display: inline-block;
    margin-bottom: 20px;
    font-size: 14px;
    padding: 20px;
    list-style: none;
}
#nav-bar h4{
    color: #9dacb2;
    margin-top: 5px;
}
#nav-bar a{
    color: #808080;
}
#content{
    min-height: 800px;
    width: 700px;
    display: inline-block;
    margin-bottom: 20px;
    padding: 20px 20px 20px 40px;
    vertical-align: top;
}
h1{
    margin-bottom: 5px;
}

h2{
    margin-top: 10px;
    margin-bottom: 5px;
}
p{
    margin-top: 10px;
}

a{
    text-decoration: none;
}
#box{
    margin-top: 10px;
    border: 2px solid gray;
    padding: 0 20px 20px 20px;
    border-radius: 10px;
}
#box h4{
    color: black;
    margin-top: 10px;
}
#box p, li{
    margin-bottom: 10px;
}
ol li{
    margin-left: 25px;
}